* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    color: #303030;
    font-family:Verdana, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration-color: #E45555;
}

body {
    display: flex;
    justify-content: space-between;
}

.gutter {
    width: 130px;
}

.center {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 24px;
}

.small-text {
    font-weight: normal;
    font-size: 12px;
}

button {
    width: 50px;
    height: 40px;
    background-color: #303030;
    color: #FFF;
    transition-duration: 0.1s;
}

.header {
    width: 170px;
    margin: auto;
    margin: 20px auto 0;
}

.correction {
    color: #E45555;
    transform: rotate(-15deg);
    text-align: left;
}

.calculator {
    margin: 20px auto 50px;
    width: 215px;
}

.display {
    height: 18px;
    width: 215px;
    margin-bottom: 10px;
}

.keypad {
    width: 215px;
}

.keypad, .digits, .clear {
    display: flex;
    flex-wrap: wrap;
}

.operators {
    width: 50px;
}

.operators button {
    margin-bottom: 5px;
}

.digits {
    width: 165px;
}

.digits button {
    margin: 0 0 5px 5px;
}

.clear-all, .clear-entry {
    background-color: #A4928B;
}

.clear-entry {
    margin-left: 5px;
}

.equals {
    background-color: #EECFCF;
}

.tl-corner {
    border-top-left-radius: 10px;
}

.tr-corner {
    border-top-right-radius: 10px;
}

.bl-corner {
    border-bottom-left-radius: 10px;
}

.br-corner {
    border-bottom-right-radius: 10px;
}

.credits {
   margin: 20px;
   text-align: right;
}
